@import "components/font-awesome/fontawesome";
@import "core/vars";
@import "core/general";

@import "blocks/header";
@import "blocks/banner";


@import "core/media";

#features{
  padding: 40px 0;
  background: #0f1b24;
  .features-container{
    display: flex;
      &__item{
        border-right:1px solid #fff;
        width: 33.3%;
        text-align: center;
        &:last-child{
          border-right: 0 none;
        }
        &-thumb{
          position: relative;
          margin-bottom:35px;
          min-height: 165px;
          &::after{
            content: '';
            border-top: 3px solid #888d92;
            position: absolute;
            width: 60px;
            transform: translateX(-50%);
            bottom: -20px;
            left: 50%;
          }
        }
        &-description{
          padding:0 15px;
          p{
            color:#fff;
            text-transform: uppercase;
            font-size: 20px;
          }
        }
      }

  }
}