*{
  margin: 0 auto;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  color:#424242;
  .container{
    width: 1170px;
    margin:0 auto;
  }
  #custom_header{
    background:url('../images/custom_header.jpg') center center;
  }
}
