#not_expensive{
  padding-top:30px;
  background: #f8f8f8;
}

#choose_station{
  background: url('../images/choose_station_background.jpg') center center;
  background-attachment: fixed;
}
#help_section{
  background: url('../images/help_background.png') bottom right no-repeat;
  padding-bottom:50px;
  padding-top:40px;
}
#slider_top{
  background: #f4f6f8;
  padding-bottom:60px;
}
#faq{
  background: url('../images/faq_background+.png') bottom right no-repeat #f8f8f8;
  padding:40px 0;
}