.big_text_container{
  &__title{
    text-align: center;
    border-bottom:1px solid #8c8f93;
    margin-bottom:20px;
    padding-bottom:20px;
    p{
      font-size: 42px;
      text-transform: uppercase;
    }
  }
  &__content{
    p{
      font-size: 18px;
      letter-spacing: 1px;
      color: rgba(88, 88, 88, 0.72);
      text-transform: uppercase;
    }
  }
}