
    .headblock{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item{
        &_logo-link__img-small{
          display: none;
        }

        &_nav{
          &-menutoggler{
            display: none;
            color:#fff;
            border:1px solid #fff;
            padding:5px;
            border-radius: 5px;
          }
          &-contact{
            margin-bottom: 10px;
            color: #fff;
            text-align: right;

            &__social{
              display: inline;
            }
            &_telephone{
              font-family: 'Open Sans', sans-serif;
            }
            a{
              margin-left:15px;
              color:#fff;
            }
          }

          &-menu{
            &__list{
              display: flex;
              list-style: none;
              border-top: 1px solid #848283;
              padding-top:10px;
              li{
                a{
                  padding:5px 10px;
                  color:#fff;
                  text-decoration: none;
                  display: block;
                  text-transform: uppercase;
                  &:hover{
                    border-bottom:2px solid  #fdcd56;
                    padding:5px 10px 3px 10px;
                    color:#fdcd56;
                  }
                }

              }
            }
          }
        }
      }
    }